:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: var(--textColor);
  background-color: var(--backgroundColor);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  /* Colors */
  --primaryColor: white;
  --secondaryColor: white;
  --tertiaryColor: white;
  --highlightColor: white;
  --backgroundColor: #242424;
  --textColor: white;
  --textColorDark: black;


}
