:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: var(--textColor);
  background-color: var(--backgroundColor);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  /* Colors */
  --primaryColor: #c814ff;
  --secondaryColor: #881222;
  --tertiaryColor: #e66647;
  --highlightColor: white;
  --backgroundColor: #17041e;
  --backgroundColorLight: #460d5b;
  --backgroundColorDarkTransparent: #0b020e8b;

  --textColor: #f3dcfa;
  --textColorDetails: #b6a4bb;
  --textColorDark: #231f24;

  color: #810c52;

}

button {
  padding: 0.5rem 2rem;
  color: var(--backgroundColor);
  font-size: 16px;
  font-weight: 500;
  background-color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  border-radius: 20px;

  cursor: pointer;
  transition: all 200ms ease-in-out;
}
button:hover {
  background-color: var(--backgroundColor);
  color: var(--textColor);
}

nav div img 
{
  cursor: pointer;
}

.active-tab
{
  color: var(--primaryColor);
  font-weight: bold;
}