.sidebar {
    height: 100%;
    width: 300px;
    background-color: rgb(24, 87, 71);
    position: absolute;
}

.profile-details {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(61, 129, 118);
}

.profile-details img {
    width: 50px;
    height: 50px;
    margin: 0 1rem;
    border: 1px solid black;
    border-radius: 50%;
}

.profile-details .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-options ul {
    width: 100%;
    padding: 0;
    list-style-type: none;
}

.sidebar-options ul li {
    padding: 1rem 1rem;
    margin-bottom: 1rem;

    color: white;
    font-weight: 500;

    transition: all 0.2s ease-in-out;
}

.sidebar-options ul li:hover {
    cursor: pointer;
    background-color: seagreen;
}

.sidebar-options ul .active {
    padding-left: 2rem;
    background-color: seagreen;
}