.filters {
    width: 70%;
    height: 80px;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 50px;

    margin-bottom: 4rem;
}

.filters h2 {
    margin: 0;
}

.filter-options {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.tickets-container {
    width: 100%;
}

.ticket-head {
    width: 90%;
    display: flex;
    justify-content: space-between;

    background-color: rgb(170, 170, 170);

    margin: auto;
    padding: 0 1rem;
}



.ticket {
    width: 90%;
    display: flex;
    justify-content: space-between;
    
    margin: auto;
    padding: 0 1rem;
    
    background-color: white;
}
