.filter-menu {
    width: 65%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0 auto 3rem auto;

    border: 1px solid var(--primaryColor);
    border-radius: 20px;

    padding: 2rem;
}

.filter-menu h2  {
    font-size: 20px;
    padding-bottom: 2rem;
}

.filter-menu div {
    display: flex;
    justify-content: inherit;
    gap: 12px;
}


.ticket-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
}

.tl-header p {
    font-weight: bold;
}

.ticket {
    width: 80%;
    height: 75px;
    padding: 0 2rem;
    border: 1px solid var(--primaryColor);
    color: var(--textColor);
    display: flex;
    gap: 0 12px;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    transition: scale 150ms ease-in-out;
}
.ticket:not(.tl-header):hover {
    cursor: pointer;
    scale: 1.05;
}

.ticket > div {
    width: 20.5%;
}

/* .ticket .id, .ticket .title,
.ticket .assigned-to, .ticket .tags {
    width: 20.5%;
} */
.ticket .date {
    width: 12%;
}
.ticket .severities {
    width: 6%;
}

.ticket .severity {
    padding: 6px 12px;
    border-radius: 10px;
    color: var(--backgroundColor);
}

.tags {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.tag {
    /* background-color: rgb(34, 0, 255); */
    border-radius: 10px;
    padding: 6px 12px;
}

.ticket-page {
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.ticket-header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ticket-header p {
    font-size: 28px;
}

.ticket-footer .footer-tabs {
    display: flex;
    width: 100%;
    gap: 20px;
    padding-bottom: 6px;
    border-bottom: 1px solid var(--primaryColor);
    margin-bottom: 12px;
}

.footer-tabs h3 {
    font-size: 26px;
    cursor: pointer;
}
.footer-tabs h3:hover {
    color: var(--primaryColor);
}

.ticket-subsection
{
/*  */
}

.ticket-subsection .container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 2rem;
    gap: 16px;
}

.ticket-subsection-item
{
    padding: 1rem;
    background-color: var(--backgroundColorLight);
}
.ticket-subsection-item .meta
{
    display: flex;
    align-items: baseline;
    gap: 12px;
    margin-bottom: 12px;
}
.ticket-subsection-item .meta p
{
    /* text-decoration: underline; */
    font-style: italic;
    color: var(--textColorDetails);
    font-size: 14px;
}
.ticket-subsection-item h3
{
    font-size: 20px;
    font-weight: 500;
}
/* COMMENTS */
.comment-item
{
    /* background-color: var(--backgroundColor); */
}

/* HISTORY */

.history-item
{

}